{{! portal template }}
<div
  class="bg-blue-800 grid place-items-top h-screen border border-black rounded-lg"
>
  <div class="text-white text-center">
    {{! header }}
    <h1 class="text-6xl font-bold">ClockWise</h1>
    <p class="mt-4 text-xl">Welcome to the ClockWise Employee Portal!</p>
    <p class="mt-2 text-black text-xl">Clocked IN/OUT Since:</p>
  </div>
  <div class="flex flex-col items-center mt-8">

    {{! clock-in/clock-out button }}
    {{#if clock_in}}
        <p class="mt-2 text-black text-2xl">You are currently Clocked IN</p>

    <a
    id="punch-time"
      href="/timeevents"
      class="bg-white text-blue-800 px-4 py-2 rounded-lg mt-4"
    >Clock OUT</a>
  </div>
  <div class="flex flex-col items-center mt-8">
    {{else}}
        <p class="mt-2 text-black text-2xl">You are currently Clocked OUT</p>

     <a
    id="punch-time"
      href="/timeevents"
      class="bg-white text-blue-800 px-4 py-2 rounded-lg mt-4"
    >Clock IN</a>
  </div>
  <div class="flex flex-col items-center mt-8">
    {{/if}}

    {{! logout button }}
    <a id="logout" href="/logout" class="bg-white text-red-800 px-4 py-2 rounded-lg">Logout</a>

    <div class="mt-5">

      {{! weekday timetable }}
      <table
        class="min-w-full bg-white border border-gray-300 rounded-lg overflow-hidden"
      >

        <thead>
          <h2
            class="text-center min-w-full bg-white border px-4 border-gray-300 rounded-lg overflow-hidden font-bold"
          >
            Work Week Timetable
          </h2>

          <tr>
            <th class="py-2 px-4 bg-gray-100">Monday</th>
            <th class="py-2 px-4 bg-gray-100">Tuesday</th>
            <th class="py-2 px-4 bg-gray-100">Wednesday</th>
            <th class="py-2 px-4 bg-gray-100">Thursday</th>
            <th class="py-2 px-4 bg-gray-100">Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{user_id}}
            {{#each timeevents}}
            
            {{! day input 5 }}
            <td class="py-2 px-4">
              <form action="/submit_form" method="post">
                <label
                  for="timeEntry"
                  class="block text-sm font-medium text-gray-600"
                >Clocked IN:</label>
                <input
                  type="time"
                  id="timeEntry"
                  name="userTime"
                  class="mt-1 p-2 border rounded-md"
                  value="{{clock_in}}"
                />
                <input
                  type="submit"
                  value="Submit"
                  class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                />
              </form>
              <form action="/submit_form" method="post">
                <label
                  for="timeEntry"
                  class="block text-sm font-medium text-gray-600"
                >Clocked OUT:</label>
                <input
                  type="time"
                  id="timeEntry"
                  name="userTime"
                  class="mt-1 p-2 border rounded-md"
                  value="{{#if clock_out}}{{clock_out}}{{/if}}"
                />
                <input
                  type="submit"
                  value="Submit"
                  class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                />
              </form>
            </td>
            {{/each}}
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<script src="/js/portalScripts.js"></script>